In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [3]:
# defining the path
path = r'C:\Users\dog\Desktop\Instacart Basket Analysis'

In [4]:
# importing pickle from the previous task
df_orders_products_merged_new = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_new.02.01.pkl'))

In [ ]:
#### checking the shape, info, and description of the data set

In [4]:
# checking shape
df_orders_products_merged_new.shape

(32404859, 20)

In [5]:
#checking info of the columns
df_orders_products_merged_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 20 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
 7   product_id              int64
 8   add_to_cart_order       int64
 9   reordered               int64
 10  Unnamed: 0              int64
 11  product_name            object
 12  aisle_id                int64
 13  department_id           int64
 14  prices                  float64
 15  _merge                  category
 16  price_range_loc         object
 17  busiest_day             object
 18  busiest_days_new        object
 19  busiest_hours           object
dtypes: category(1), float64(2), int64(11), object(6)
memory usage: 4.9+ GB

In [6]:
# checking description of the data
df_orders_products_merged_new.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,aisle_id,department_id,prices
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.032876e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07
mean,1.710745e+06,1.029372e+05,1.714230e+01,2.738867e+00,1.342515e+01,1.110408e+01,2.559866e+04,8.352547e+00,5.895873e-01,2.560037e+04,7.119612e+01,9.919792e+00,1.198023e+01
std,9.872988e+05,5.946610e+04,1.753532e+01,2.090077e+00,4.246380e+00,8.779064e+00,1.408400e+04,7.127071e+00,4.919087e-01,1.408555e+04,3.821139e+01,6.281485e+00,4.956554e+02
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,8.559470e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.354400e+04,3.000000e+00,0.000000e+00,1.354400e+04,3.100000e+01,4.000000e+00,4.200000e+00
50%,1.711049e+06,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.530200e+04,6.000000e+00,1.000000e+00,2.530300e+04,8.300000e+01,9.000000e+00,7.400000e+00
75%,2.565499e+06,1.543890e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.794700e+04,1.100000e+01,1.000000e+00,3.795100e+04,1.070000e+02,1.600000e+01,1.130000e+01
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,4.969200e+04,1.340000e+02,2.100000e+01,9.999900e+04

#### 2  find the aggregated mean of the “order_number” column grouped by “department_id”  the entire dataframe.

In [5]:
# sort by descending mean
df_orders_products_merged_new.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']}).sort_values(('order_number','mean'), ascending = False)

              order_number
                      mean min max
department_id
21               22.902379   1  99
10               20.197148   1  99
18               19.310397   1  99
4                17.811403   1  99
16               17.665606   1  99
2                17.277920   1  99
7                17.225802   1  99
19               17.177343   1  99
3                17.170395   1  99
14               16.773669   1  99
13               16.583536   1  99
20               16.473447   1  99
6                16.439806   1  99
11               16.170638   1  99
15               16.165037   1  99
9                15.895474   1  99
12               15.887671   1  99
17               15.694469   1  99
1                15.457838   1  99
8                15.340650   1  99
5                15.215751   1  99

In [8]:
# 2 sort by descending index 
df_orders_products_merged_new.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']}).sort_index(ascending = False)

              order_number
                      mean min max
department_id
21               22.902379   1  99
20               16.473447   1  99
19               17.177343   1  99
18               19.310397   1  99
17               15.694469   1  99
16               17.665606   1  99
15               16.165037   1  99
14               16.773669   1  99
13               16.583536   1  99
12               15.887671   1  99
11               16.170638   1  99
10               20.197148   1  99
9                15.895474   1  99
8                15.340650   1  99
7                17.225802   1  99
6                16.439806   1  99
5                15.215751   1  99
4                17.811403   1  99
3                17.170395   1  99
2                17.277920   1  99
1                15.457838   1  99

#### 3 The only difference I observe here is that the amount of department IDs is higher than in the subset of the same DF but limited to 1000000 rows

#### 4 Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [6]:
# creating new column based on the max amount of orders
df_orders_products_merged_new['max_orders'] = df_orders_products_merged_new.groupby(['user_id'])['order_number'].transform(np.max)

In [10]:
df_orders_products_merged_new.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days_new,busiest_hours,max_orders
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,Soda,77,7,9.0,both,High-range product,Regularly busy,Regularly busy,average orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Soda,77,7,9.0,both,High-range product,Regularly busy,Slowest days,average orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Soda,77,7,9.0,both,High-range product,Regularly busy,Slowest days,Most orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Soda,77,7,9.0,both,High-range product,Least busy,Slowest days,average orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Soda,77,7,9.0,both,High-range product,Least busy,Slowest days,Most orders,10

In [11]:

# 1 defining flags for the loyality check
def customers_loyalty(row):

    if row['max_orders'] > 40:
    return 'Loyal Customer'
  elif (row['max_orders'] > 10) and (row['max_orders'] <= 40):
    return 'Regular Customer'
  elif row['max_orders'] <= 10:
    return 'New Customer'
  else: return 'Not enough data'

In [7]:
# creating new column for loyaility check based on the flags deifined earlier. New columns are created using loc method
df_orders_products_merged_new.loc[df_orders_products_merged_new['max_orders'] > 40, 'customers_loyalty'] = 'Loyal customer'

In [8]:
df_orders_products_merged_new.loc[(df_orders_products_merged_new['max_orders'] <= 40) & (df_orders_products_merged_new['max_orders'] > 10), 'customers_loyalty'] = 'Regular customer'

In [9]:
df_orders_products_merged_new.loc[df_orders_products_merged_new['max_orders'] <= 10, 'customers_loyalty'] = 'New customer'

In [15]:
# checking if the new column created and works correctly
df_orders_products_merged_new.head().append(df_orders_products_merged_new.tail())

C:\Users\dog\AppData\Local\Temp\ipykernel_8000\2145896111.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_orders_products_merged_new.head().append(df_orders_products_merged_new.tail())

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days_new,busiest_hours,max_orders,customers_loyalty
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,77,7,9.0,both,High-range product,Regularly busy,Regularly busy,average orders,10,New customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,77,7,9.0,both,High-range product,Regularly busy,Slowest days,average orders,10,New customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,77,7,9.0,both,High-range product,Regularly busy,Slowest days,Most orders,10,New customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,77,7,9.0,both,High-range product,Least busy,Slowest days,average orders,10,New customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,77,7,9.0,both,High-range product,Least busy,Slowest days,Most orders,10,New customer
32404854,1320836,202557,prior,17,2,15,1.0,43553,2,1,...,64,7,3.7,both,Low-range product,Regularly busy,Regularly busy,Most orders,31,Regular customer
32404855,31526,202557,prior,18,5,11,3.0,43553,2,1,...,64,7,3.7,both,Low-range product,Regularly busy,Regularly busy,Most orders,31,Regular customer
32404856,758936,203436,prior,1,2,7,NaN,42338,4,0,...,50,19,6.9,both,High-range product,Regularly busy,Regularly busy,average orders,3,New customer
32404857,2745165,203436,prior,2,3,5,15.0,42338,16,1,...,50,19,6.9,both,High-range product,Regularly busy,Slowest days,fewest orders,3,New customer
32404858,3093936,205420,prior,1,4,14,NaN,28818,8,0,...,130,14,10.3,both,High-range product,Least busy,Slowest days,Most orders,16,Regular customer

In [16]:
# checking frequency of each customers loyalty
df_orders_products_merged_new['customers_loyalty'].value_counts()

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: customers_loyalty, dtype: int64

####  5 The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [10]:
# grouping by customers_loyalty and aggregating by different statistics
df_orders_products_merged_new.groupby('customers_loyalty').agg({'prices': ['min', 'max', 'mean']})

                  prices
                     min      max       mean
customers_loyalty
Loyal customer       1.0  99999.0  10.386336
New customer         1.0  99999.0  13.294670
Regular customer     1.0  99999.0  12.495717

In [19]:
# creating a subset df with the loyalty stats
df_customers_loyalty = df_orders_products_merged_new.groupby('customers_loyalty').agg({'prices': ['min', 'max', 'mean']}).reset_index()

In [20]:
# checking how the subset looks like with the reseted index
df_customers_loyalty.head()

  customers_loyalty prices
                       min      max       mean
0    Loyal customer    1.0  99999.0  10.386336
1      New customer    1.0  99999.0  13.294670
2  Regular customer    1.0  99999.0  12.495717

#### 6 The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

#####  If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”

##### If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [11]:
# creating new column which will show average price
df_orders_products_merged_new['mean_price'] = df_orders_products_merged_new.groupby(['user_id'])['prices'].transform(np.mean)

In [24]:
# checking if the column appearing in the data frame 
df_orders_products_merged_new.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days_new,busiest_hours,max_orders,customers_loyalty,mean_price
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,7,9.0,both,High-range product,Regularly busy,Regularly busy,average orders,10,New customer,6.367797
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,7,9.0,both,High-range product,Regularly busy,Slowest days,average orders,10,New customer,6.367797
2,473747,1,prior,3,3,12,21.0,196,1,1,...,7,9.0,both,High-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,7,9.0,both,High-range product,Least busy,Slowest days,average orders,10,New customer,6.367797
4,431534,1,prior,5,4,15,28.0,196,1,1,...,7,9.0,both,High-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797

In [25]:
# creating a flag that can be used for creating of a new column
# 1 defining flags for the loyality check
def spending_characteristic(row):

  if row['mean_price'] < 10:
    return 'Low spender'
  elif row['mean_price'] >= 10:
    return 'High spender'
  else: return 'Not enough data'

In [12]:
# creating additional column using col method
df_orders_products_merged_new.loc[df_orders_products_merged_new['mean_price'] < 10, 'spending_characteristic'] = 'Low spender'

In [13]:
df_orders_products_merged_new.loc[df_orders_products_merged_new['mean_price'] >= 10, 'spending_characteristic'] = 'High spender'

In [30]:
# checking if the new column was added
df_orders_products_merged_new.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,prices,_merge,price_range_loc,busiest_day,busiest_days_new,busiest_hours,max_orders,customers_loyalty,mean_price,spending_characteristic
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,9.0,both,High-range product,Regularly busy,Regularly busy,average orders,10,New customer,6.367797,Low spender
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,9.0,both,High-range product,Regularly busy,Slowest days,average orders,10,New customer,6.367797,Low spender
2,473747,1,prior,3,3,12,21.0,196,1,1,...,9.0,both,High-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,9.0,both,High-range product,Least busy,Slowest days,average orders,10,New customer,6.367797,Low spender
4,431534,1,prior,5,4,15,28.0,196,1,1,...,9.0,both,High-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender

#### 7  In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

#### If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
#### If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
#### If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [14]:
# creating another column with median of the days since prior order column
df_orders_products_merged_new['since_priors_order_median'] = df_orders_products_merged_new.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [33]:
# checking if the new column was created 
df_orders_products_merged_new.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_day,busiest_days_new,busiest_hours,max_orders,customers_loyalty,mean_price,spending_characteristic,since_priors_order_median
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,both,High-range product,Regularly busy,Regularly busy,average orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,both,High-range product,Regularly busy,Slowest days,average orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,prior,3,3,12,21.0,196,1,1,...,both,High-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,both,High-range product,Least busy,Slowest days,average orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,prior,5,4,15,28.0,196,1,1,...,both,High-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5

In [36]:
# creating flag for a new column
def ordering_frequency(row):

    if row['since_priors_order_median'] > 20:
    return 'Non-frequent customer'
  elif (row['since_priors_order_median'] >10) and (row['since_priors_order_median'] <= 20):
    return 'Regular customer'
  elif row['since_priors_order_median'] <= 10:
    return 'Frequent customer'
  else: return 'Not enough data'

In [15]:
# creating new columns using loc method
df_orders_products_merged_new.loc[df_orders_products_merged_new['since_priors_order_median'] > 20, 'ordering_frequency'] = 'Non-frequent customer'

In [16]:
df_orders_products_merged_new.loc[(df_orders_products_merged_new['since_priors_order_median'] >10 )  & (df_orders_products_merged_new['since_priors_order_median'] <= 20), 'ordering_frequency'] = 'Regular customer'

In [17]:
df_orders_products_merged_new.loc[df_orders_products_merged_new['since_priors_order_median'] <= 10, 'ordering_frequency'] = 'Frequent customer'

In [18]:
# checking if the new column was created 
df_orders_products_merged_new.head(5)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days_new,busiest_hours,max_orders,customers_loyalty,mean_price,spending_characteristic,since_priors_order_median,ordering_frequency
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,High-range product,Regularly busy,Regularly busy,average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,High-range product,Regularly busy,Slowest days,average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,High-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,High-range product,Least busy,Slowest days,average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,High-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [19]:
# export to pickle 
df_orders_products_merged_new.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_new02.01.pkl'))